<ion-content *ngIf="screen">
  <ion-card>
    <ion-img src="../../assets/logo.png" />
    <ion-card-header>
      <ion-card-title>Login de usuário</ion-card-title>
      <ion-card-subtitle>Prencha com as suas credenciais</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="email" label="Email" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="password" [(ngModel)]="password" label="Password" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer *ngIf="screen">
  <ion-toolbar color="danger">
    <ion-button size="large" expand="full" fill="clear" class="login-button" (click)="login()">Login</ion-button>
  </ion-toolbar>
</ion-footer>