// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-danger: #990000;
	--ion-color-danger-rgb: 153,0,0;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #870000;
	--ion-color-danger-tint: #a31a1a;
}